/* main.view.php*/

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products > .productCard {
  display: inline-block;
  width: 300px;
  margin: 3em;
}
